{% extends "base.html" %}
{% block content %}<h2>{{ "Edit" if course else "Add" }} Course</h2>
<form method="post" action="{{ action }}" class="col-md-6">
{% if course %}<input type="hidden" name="_method" value="PUT">{% endif %}
<input class="form-control mb-2" name="name" value="{{ course.name if course else '' }}" placeholder="Course Name" required>
<input class="form-control mb-2" name="code" value="{{ course.code if course else '' }}" placeholder="Course Code" required>
<button class="btn btn-primary">Save</button></form>{% endblock %}
